.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 50vh; 
    background-color: #178da2ba;
  }

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
    margin-bottom: 10px;
    margin-top: 10px;
  }

h3 {
  text-align: center;
}